<template>
	<!-- Note List Start -->
	<div>
		<b-card v-for="note in ticket.notes" class="mb-2 text-left" v-bind:header="note.date" header-bg-variant="info" header-text-variant="white">
			<b-row>
					<b-col sm="12" md="9" lg="9">
						<b-card-header v-bind:header="note.title"></b-card-header>
					</b-col>
					<b-col sm="12" md="3" lg="3">
						<b-button-group>
							<b-button href="#" variant="success" class="mb-3" @click="editNote(note)">Edit</b-button>
							<b-button href="#" variant="secondary" class="mb-3" @click="copyNote(note)">Copy</b-button>
							<b-button href="#" variant="danger" class="mb-3">Delete</b-button>
						</b-button-group>
					</b-col>
			</b-row>
			<b-row>
				<b-col>
					<b-card-text v-html="note.summary">
					</b-card-text>
				</b-col>
			</b-row>
		</b-card>
	</div>

</template>


<script>

export default {
  name: 'NotesShow',
  components: {

  },
	props : ['ticket'],
	methods : {
		editNote(note){
			return this.$emit('editNoteParent', note);
		},
		copyNote(note){
			var noteStr = `
Summary
--------------
${note.summary}



Evidence
------------
${note.evidence}



Timetable
-------------
${note.timetable}

`;
			this.$copyText(noteStr).then(function (e) {
          alert('Copied')
        }, function (e) {
          alert('Can not copy')
        })
		}
	}

}

</script>


<style>


</style>
