<template>
	<b-card class="mb-2">

		<b-row>
			<b-col><b-button v-b-modal.modal-add-note variant="primary" @click="clearCurrentNote">Add Note</b-button></b-col>

		</b-row>

		<b-modal id="modal-add-note" ref="modal-add-note" class="mt-2" size="xl" hide-footer>
				<b-card>
					<b-form-group label="Date" label-align="left">
						<datepicker v-model="note.date" input-class="form-control"  class="mb-3"></datepicker>
					</b-form-group>

					<b-form-group label="Note Title" label-align="left">
						<b-form-input v-model="note.title" class="mb-3"></b-form-input>
					</b-form-group>

					<b-row>
							<b-col>
								<b-form-group label="Note Sketch" label-align="left">
									<markdown-editor ref="markdownEditor" v-model="note.sketch" class="mb-3"></markdown-editor>
								</b-form-group>
							</b-col>

							<b-col>
								<b-form-group label="Note Summary" label-align="left">
									<markdown-editor ref="markdownEditor" v-model="note.summary" class="mb-3"></markdown-editor>
								</b-form-group>

								<b-form-group label="Note Evidence" label-align="left">
									<markdown-editor ref="markdownEditor" v-model="note.evidence" class="mb-3"></markdown-editor>
								</b-form-group>

								<b-form-group label="Note Timetable" label-align="left">
									<markdown-editor ref="markdownEditor" v-model="note.timetable" class="mb-3"></markdown-editor>
								</b-form-group>
							</b-col>
					</b-row>
				</b-card>
				<b-row>
					<b-col v-if="note.id">
						<b-button block variant="success" @click="addNote(note, false)">Save Note</b-button>
						<b-button type="submit" block variant="primary" @click="addNote(note, true)">Add / Edit Note</b-button>
					</b-col>
					<b-col v-else>
						<b-button  type="submit" block variant="primary" @click="addNote(note, true)">Add / Edit Note</b-button>
					</b-col>
				</b-row>
			<!-- </form> -->

		</b-modal>

	</b-card>

</template>


<script>

import Datepicker from 'vuejs-datepicker';
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import markdownEditor from 'vue-simplemde/src/markdown-editor';


export default {
  name: 'NoteAdd',
  components: {
    Datepicker, markdownEditor
  },
	props: ['note'],
	mounted(){
		this.note.date = new Date()
	},
	data(){
		return {
			editor: ClassicEditor,
    	editorData: '<p>Rich-text editor content.</p>',
      editorConfig: {
				alignment: {
					options: [ 'left', 'right' ]
				}
      }
		}
	},
	methods: {
		addNote(note, isModalClose){
			if (isModalClose){
					this.$refs['modal-add-note'].hide();
			} else {
				  alert('Saved!')
			}
			return this.$emit('addNoteParent', note);
		},
		clearCurrentNote(){
			return this.$emit('clearCurrentNoteParent');
		}
	}


}



</script>


<style>
@import '~simplemde/dist/simplemde.min.css';

.modal-xl {
	width: auto;
	max-width: 98%
}


</style>
