<template>
	<!-- Ticket Info -->
	<b-card class="mb-2">
		<b-form-group label="Ticket #" label-align="left"><b-form-input v-model="ticket.number" class="mb-3" readonly></b-form-input></b-form-group>
		<b-form-group label="Subject" label-align="left"><b-form-input v-model="ticket.subject" class="mb-3" readonly></b-form-input></b-form-group>

		<b-row>
			<b-col><b-button v-b-modal.modal-1 variant="primary">View Details</b-button></b-col>

			<b-col><b-button variant="secondary" @click="copyAllNotes">Copy Ticket Summary</b-button></b-col>

		</b-row>

		<b-modal id="modal-1" class="mt-2" size="xl" hide-footer>
			<b-card>
				<b-form-group label="Severity" label-align="left"><b-form-input  class="mb-3"></b-form-input></b-form-group>
				<b-form-group label="Product" label-align="left"><b-form-input  class="mb-3"></b-form-input></b-form-group>


				<b-form-group label="Problem Statement" label-align="left"><b-form-textarea v-model="ticket.problem_statement" rows="3" max-rows="6" class="mb-3"></b-form-textarea></b-form-group>

				<b-form-group label="Actual Problem" label-align="left"><b-form-textarea  rows="3" max-rows="6" class="mb-3" ></b-form-textarea></b-form-group>

				<b-form-group label="Expected Result" label-align="left"><b-form-textarea  rows="3" max-rows="6" class="mb-3" ></b-form-textarea></b-form-group>

				<b-form-group label="Business Impact" label-align="left"><b-form-textarea  rows="3" max-rows="6" class="mb-3" ></b-form-textarea></b-form-group>

				<b-form-group label="JIRA" label-align="left"><b-form-input  class="mb-3"></b-form-input></b-form-group>
				<b-form-group label="SME" label-align="left"><b-form-input  class="mb-3"></b-form-input></b-form-group>
				<b-form-group label="Customer Name" label-align="left"><b-form-input  class="mb-3"></b-form-input></b-form-group>
				<b-form-group label="Customer Email" label-align="left"><b-form-input  class="mb-3"></b-form-input></b-form-group>
				<b-form-group label="Customer Phone" label-align="left"><b-form-input  class="mb-3"></b-form-input></b-form-group>

				<b-form-group label="Resolution" label-align="left"><b-form-textarea  rows="3" max-rows="6" class="mb-3"></b-form-textarea></b-form-group>

			</b-card>

		</b-modal>






	</b-card>

</template>


<script>
export default {
	name: 'TicketShow',
	components: {

	},
	props: ['ticket'],
	methods: {
		copyAllNotes: function(){
			var notesStr = `// Current Status and Next Steps // \n`;
			for (var i = 0; i < this.ticket.notes.length; i++){
				var note = this.ticket.notes[i];
				var str =
`${note.date} : ${note.title}

`;
				notesStr += str;
			}

/* Will use it for individual note copy hehe

			var str = `
${ticket1.date} : ${ticket1.title}

## Summary
${ticket1.summary}

## Evidence
${ticket1.evidence}

## Timetable
${ticket1.timetable}
			`
*/
			this.$copyText(notesStr).then(function (e) {
          alert('Copied')
          console.log(e)
        }, function (e) {
          alert('Can not copy')
          console.log(e)
        })
		}
	}

}

</script>


<style>


</style>
