<template>
	<!-- Search -->
	<b-col sm="12" md="3" lg="3">

		<b-form-input v-model="searchInput" placeholder="Search"></b-form-input>
		<hr />
		<!-- TODO: How to set selected ticket list item as active? -->
		<b-list-group>
			<b-list-group-item href="#"
			 v-for="ticket in searchedTickets" v-on:click="selectTicket(ticket)">{{ ticket.number }}</b-list-group-item>
		</b-list-group>

	</b-col>

</template>


<script>
import _ from "lodash";

export default {
  name: 'TicketSearch',
  components: {

  },
	props: ['tickets'],
	data(){
		return {
			searchInput : ""
		}
	},
	methods : {
		selectTicket(ticket){
			this.$emit('selectTicketParent', ticket);
		}
	},
	computed: {
		searchedTickets(){
			if (this.searchInput == ''){
				return [];
			} else {
				const searchFilter = ticket => {
					return ticket.number.toLowerCase().match(this.searchInput.toLowerCase());
				};
				return _.filter(this.tickets, searchFilter);
			}
		}
	}
}

</script>


<style>


</style>
