<template>
  <div id="app">
    <b-container class="bv-example-row" fluid>
      <b-row>
        <b-col sm="12" md="3" lg="3">
        </b-col>
        <b-col sm="12" md="9" lg="9">
          <b-row>
            <b-col sm="12" md="3" lg="3">
              <h1>Dashboard</h1>
            </b-col>
            <b-col sm="12" md="3" lg="3">

            </b-col>
            <b-col sm="12" md="3" lg="3">
              <b-button v-b-modal.modal-create variant="success">Create Ticket</b-button>

              <b-modal id="modal-create" ref="modal-create" class="mt-2" size="xl" hide-footer>
                <b-card>
                  <b-form-group label="Ticket #" label-align="left"><b-form-input  v-model="newTicket.number" class="mb-3"></b-form-input></b-form-group>

                  <b-form-group label="Subject" label-align="left"><b-form-textarea   v-model="newTicket.subject" rows="3" max-rows="6" class="mb-3"></b-form-textarea></b-form-group>

                  <b-button class="mt-3" block variant="success" @click="addNewTicket(newTicket)">Submit</b-button>

                </b-card>

              </b-modal>
              <b-modal ref="modal-create-succes">
                <div class="d-block text-center">
                  <h3>Successfully added new ticket!</h3>
                </div>

              </b-modal>
            </b-col>
          </b-row>
        </b-col>
      </b-row>

      <b-row>

        <ticket-search :tickets='tickets' @selectTicketParent="selectTicketMethod"></ticket-search>

        <b-col sm="12" md="9" lg="9">

          <ticket-show :ticket="selectedTicket"></ticket-show>
          <hr />

          <note-add ref="note-add-ref" :note="selectedNote" @addNoteParent="addNoteToNotes" @clearCurrentNoteParent="clearCurrentNote"></note-add>

          <notes-show :ticket="selectedTicket" @editNoteParent="editSelectedNote"></notes-show>

        </b-col>
      </b-row>

    </b-container>
  </div>
</template>

<script>
import Vue from 'vue';
import BootstrapVue from 'bootstrap-vue';

import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';

import CKEditor from '@ckeditor/ckeditor5-vue';

import axios from 'axios'

import VueSimplemde from 'vue-simplemde'
import 'simplemde/dist/simplemde.min.css'

import VueClipboard from 'vue-clipboard2'


Vue.use(BootstrapVue);
Vue.use(CKEditor);
Vue.use(VueSimplemde);
Vue.use(VueClipboard)


import NoteAdd from './components/NoteAdd';
import TicketSearch from './components/TicketSearch';
import TicketShow from './components/TicketShow';
import NotesShow from './components/NotesShow';


export const HTTP = axios.create({
  baseURL: 'http://localhost/specialist_api/public/api/',
  headers: {

  }
})

export default {
  name: 'app',
  components: {
    NoteAdd, TicketSearch, TicketShow, NotesShow
  },
  data() {
    return {
      newTicket: {
        number: '',
        subject: ''
      },
      selectedTicket : {},
      tickets : [],
      selectedNote: {}
    }
  },
  mounted() {
    HTTP.get('tickets')
    .then(response => {
      // JSON responses are automatically parsed.
      this.tickets = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  },
  methods: {
    updateTicket(ticket){
      HTTP.put('tickets/'+ticket.id, ticket)
      .then(response => {
        // JSON responses are automatically parsed.
        this.tickets = response.data
      })
      .catch(e => {
        console.log(e)
      })
    },
    selectTicketMethod(ticket){
      this.selectedTicket = ticket;
    },
    addNoteToNotes(noteData){
      if (noteData.id){
        this.selectedTicket.notes.map(
          obj => {
              if (obj.id == noteData.id){
                return noteData;
              } else {
                return obj
              }
          }
        );
      } else {
        this.selectedTicket.notes.push({
          date: noteData.date,
          title: noteData.title,
          sketch: noteData.sketch,
          summary: noteData.summary,
          evidence: noteData.evidence,
          timetable: noteData.timetable
        });
      }
      this.updateTicket(this.selectedTicket);
    },
    addNewTicket(newTicket){
      HTTP.post('tickets', newTicket)
      .then(response => {
        // JSON responses are automatically parsed.
        this.tickets = response.data;
        this.$refs['modal-create-succes'].show();
        this.$refs['modal-create'].hide()
      })
      .catch(e => {
        console.log(e)
      })
    },
    editSelectedNote(note){
      this.selectedNote = note;
      this.$refs['note-add-ref'].$refs['modal-add-note'].show()
    },
    clearCurrentNote(){
      this.selectedNote = {};
    }
  },

}

</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: auto;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
